Repository oyinetare/url-shortener: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-imports, go-mod-tidy, go-build, go-test, golangci-lint

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: detect-private-key
      - id: mixed-line-ending
        args: ["--fix=lf"]

  # Go specific hooks - Updated to work with subdirectory
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: bash -c 'cd url-shortening-service && go fmt ./...'
        language: system
        files: '^url-shortening-service/.*\.go$'
        pass_filenames: false

      - id: go-vet
        name: go vet
        entry: bash -c 'cd url-shortening-service && go vet ./...'
        language: system
        files: '^url-shortening-service/.*\.go$'
        pass_filenames: false

      - id: go-imports
        name: go imports
        entry: bash -c 'cd url-shortening-service && goimports -w .'
        language: system
        files: '^url-shortening-service/.*\.go$'
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: bash -c 'cd url-shortening-service && go mod tidy'
        language: system
        files: '^url-shortening-service/(go\.mod|go\.sum)$'
        pass_filenames: false

      - id: go-build
        name: go build
        entry: bash -c 'cd url-shortening-service && go build ./...'
        language: system
        files: '^url-shortening-service/.*\.go$'
        pass_filenames: false

      - id: go-test
        name: go test
        entry: bash -c 'cd url-shortening-service && go test ./...'
        language: system
        files: '^url-shortening-service/.*\.go$'
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'cd url-shortening-service && golangci-lint run'
        language: system
        files: '^url-shortening-service/.*\.go$'
        pass_filenames: false

# Configuration
default_stages: [pre-commit]
fail_fast: false
minimum_pre_commit_version: 2.15.0

add sql db with repository pattern, use dependency injection, layer architecture for better organisation, add unit tests
  url-shortening-service/api/handler.go
  url-shortening-service/repository/interface.go
  url-shortening-service/repository/repository.go
  url-shortening-service/server/server.go
Due: go-fmt, go-vet, go-imports, go-build, go-test, golangci-lint

apis, repo
  .pre-commit-config.yaml
  url-shortening-service/api/handler.go
  url-shortening-service/go.mod
  url-shortening-service/go.sum
  url-shortening-service/repository/interface.go
  url-shortening-service/repository/repository.go
  url-shortening-service/server/server.go
Due: go-fmt, go-vet, go-imports, go-mod-tidy, go-build, go-test, golangci-lint

add context.context for managing loifecycle of operations and coordinated cancellation and timeout handling, update some error handling
  url-shortening-service/api/handler.go
  url-shortening-service/repository/interface.go
  url-shortening-service/repository/repository.go
Due: go-fmt, go-vet, go-imports, go-build, go-test, golangci-lint

add unit tests
  .pre-commit-config.yaml
  url-shortening-service/api/handler_test.go
  url-shortening-service/go.mod
  url-shortening-service/go.sum
  url-shortening-service/repository/interface.go
  url-shortening-service/repository/repository.go
  url-shortening-service/repository/repository_test.go
  url-shortening-service/server/server_test.go
Due: go-fmt, go-vet, go-imports, go-mod-tidy, go-build, go-test, golangci-lint

add flag for short code, fix tests
  url-shortening-service/api/handler.go
  url-shortening-service/api/handler_test.go
  url-shortening-service/server/server.go
Due: go-fmt, go-vet, go-imports, go-build, go-test, golangci-lint

add simple in-memory cache with cache aside pattern ttl eviction strategy
  url-shortening-service/api/handler.go
  url-shortening-service/api/handler_test.go
  url-shortening-service/cache/cache.go
  url-shortening-service/cache/cache_test.go
  url-shortening-service/cache/interface.go
  url-shortening-service/config/config.go
  url-shortening-service/repository/repository.go
  url-shortening-service/server/server.go
Due: go-fmt, go-vet, go-imports, go-build, go-test, golangci-lint

uncomment test, lock and defer mutex in cache size
  url-shortening-service/api/handler_test.go
  url-shortening-service/cache/cache.go
Due: go-fmt, go-vet, go-imports, go-build, go-test, golangci-lint

move generator to new place
  url-shortening-service/api/handler.go
  url-shortening-service/api/handler_test.go
  url-shortening-service/idgenerator/interface.go
  url-shortening-service/idgenerator/md5Generator.go
  url-shortening-service/server/server.go
Due: go-fmt, go-vet, go-imports, go-build, go-test, golangci-lint

improve algorithm with snowflake
  url-shortening-service/api/handler.go
  url-shortening-service/idgenerator/interface.go
  url-shortening-service/idgenerator/md5Generator.go
  url-shortening-service/idgenerator/snowflakeGenerator.go
  url-shortening-service/server/server.go
Due: go-fmt, go-vet, go-imports, go-build, go-test, golangci-lint

add read me, docker compose, makefile
  Makefile
  README.md
  docker-compose.db.yml
  docker-compose.yml
  test-db/Dockerfile
  test-db/setup_db.sh
  url-shortening-service/Dockerfile
  url-shortening-service/api/handler_test.go
Due: go-fmt, go-vet, go-imports, go-build, go-test, golangci-lint

Update README.md
  README.md
Due: none
